[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-tekstitv
Exec=harbour-tekstitv
Name=Teksti-TV
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
#Name[de]=harbour-tekstitv

[X-Sailjail]
OrganizationName=fi.pinniini
ApplicationName=TekstiTV
Permissions=Internet;
